@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 33% 94%;
    --foreground: 20 14% 20%;
    --card: 54 33% 98%;
    --card-foreground: 20 14% 20%;
    --popover: 54 33% 98%;
    --popover-foreground: 20 14% 20%;
    --primary: 77 33% 56%;
    --primary-foreground: 77 30% 15%;
    --secondary: 54 25% 90%;
    --secondary-foreground: 20 14% 20%;
    --muted: 54 25% 90%;
    --muted-foreground: 20 14% 45%;
    --accent: 21 38% 54%;
    --accent-foreground: 20 14% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 54 20% 85%;
    --input: 54 20% 90%;
    --ring: 77 33% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 5%;
    --foreground: 54 33% 94%;
    --card: 20 14% 7%;
    --card-foreground: 54 33% 94%;
    --popover: 20 14% 5%;
    --popover-foreground: 54 33% 94%;
    --primary: 77 33% 56%;
    --primary-foreground: 77 30% 15%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 54 33% 94%;
    --muted: 20 14% 10%;
    --muted-foreground: 54 33% 60%;
    --accent: 21 38% 54%;
    --accent-foreground: 20 14% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 77 33% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
